/*--------------------------------------General Styling--------------------------------------*/
body{
    background: #cccccc;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
#sitewrapper{
    box-shadow: 0px 0px 10px #111111;
    background: #888888;
}
h1{
    display: inline-block;
    font-size: 3em;
    margin: 0;
    border: 0;
    padding:  0.25em 0.5em;
}
header{

    background: #333333;
    color: #eeeeee;
}

fieldset{
    background: #eeeeee;
    padding: 2em;
    border: 0;

}
/*-----Navigation-----*/

header 
header img:hover{
    background: #555555;

}

/*------Blog Nav------*/
ul.supermenu{

    float: right;
}
ul.supermenu, ul.submenua, ul.submenub{ 
 margin: 0;
 padding: 0;
 list-style: none;
 width: 150px;
 border-bottom: 1px solid #ccc;
 z-index:1;

 }

ul.supermenu li, ul.submenua li, ul.submenub li{
 position: relative;
 }
 
li ul.submenua, li ul.submenub{
 position: absolute;
 display: none;
 }

ul.navsuperhori > li.navmenuitem{
 display: inline-block;
 margin: 0;
 border-bottom: 1px solid #ccc;
}
ul.navsuperhori {
 border-bottom: none;
}
 
li ul.navitemvert{
 left: 198px;
 top: -1px;
}

li ul.navitemhori{
 left: 0px;
 top: 48px;
}
 
li.navmenuitem a{
    color: #ffffff;
    font-size: 2em;
    padding: 0.4em;
    text-decoration: none;
}
 
li.navmenuitem{
 display: block;
 text-decoration: none;
 height: 40px;
 color: #777;
 background: #aaaaaa;
 border-bottom: 1px solid #ccc;
 transition: all 300ms cubic-bezier(0.500, 0.460, 0.450, 0.940);
 }
ul.supermenu > li.navmenuitem {

 display: block;
 text-decoration: none;
 color: #777;
 background: none;
 height: 49px;
 width: 50px;
 border: none;
 border-bottom: 0;
 transition: all 300ms cubic-bezier(0.500, 0.460, 0.450, 0.940);
}
ul.supermenu > li.navmenuitem > img{

    display: block;
    float: right;
    margin: 0;
    border: 0;
    padding: 10px 10px 9px 10px;
    border-left: solid 1px #444444;
 background: none;
 margin-right: -100px;
}
ul.supermenu > li.navmenuitem > img:hover{
    background: #555555;
}

li.navmenuitem > a > img{
    display: inline;
    padding: 0.3em 0;
    padding-right: 0.3em;
}
li.navmenuitem  a p{
    display: inline-block;
    margin-top: -0.5em;
    padding: 0.3em 0;
    vertical-align: middle;
}
li.navmenuitem:hover{
 
 transform: scale(1);
 background: #999999;
}
 
ul.supermenu li:hover ul.submenua { 
 display: normal;
 display: block; 
 z-index:2;
}
 
ul.supermenu li:hover ul.submenub { 
 display: normal;
 display: block; 
 z-index:2;
}
ul.submenua li:hover ul.submenub {
 display: normal;
 display: block; 
 z-index:2;
 }
/*-----Page Header-----*/
#content h2{

    display: inline-block;
    height: 0px;
    margin: 0 0;
    border-bottom: solid 2.5em #555555;
    border-right: solid 2.5em transparent;
}
#content h2 p{
    font-size: 2em;
    color: #ffffff;
    margin: 0 0;
    height: 2.5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 0em;
}


/*-----Navigation-----*/
ul#nav , .logout input{
    list-style: none;
    width:100%;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    padding:0;
    padding-right:5em;
    background: #888888;
}
ul#nav a{text-decoration: none;}
ul#nav li a, .logout input{
    display: block;
    padding:1em 1em 1em 1em;
    margin: 0 0;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    background: #dddddd;
    background: #888888;
    background: transparent;
    color: #ffffff;
}
ul#nav li  a:link,ul#nav  li  a:visited, .logout input{
    color: #ffffff;
}
ul#nav li:hover, .logout input:hover{
    background: #aaaaaa;

}
ul#nav li:focus, .logout input:focus{
    background: #aaaaaa;

}
ul#nav li:active, .logout input:active{
    background: #666666;

}
.logout{

    margin:             -1.5em 0 0 0;
    padding:            0em;
    
}
.logout input{
    text-align:         left;
    font-weight:        normal;
    padding-right:            0em;
}




/*--------------------------------------Pages--------------------------------------*/


/*-----Writer-----*/
#writer .tags, #writer .title, #writer input, #writer label{
    border: 0;
    background: #ffffff;
    color: #000000;
    font-size: 1.5em;
    padding: .15em;
    width: 20em;
}

#writer .separater{
    border-bottom: 2px solid #555555;
}
#writer input[type=checkbox]{
    
    margin: 0em;
	 width : 1.5em ; 
	 height : 1.5em ; 
}
#writer input[type=submit] ,#writer input[type=checkbox], #writer label[for="status"]{

    text-align: center;
    background: #888888;
    border: 0;
    color: #ffffff;
}
#writer input[type=submit]:hover,
#writer input[type=checkbox]:hover,
#writer label[for="status"]:hover{background: #999999;}

#writer input[type=submit]:focus,
#writer input[type=checkbox]:focus,
#writer label[for="status"]:focus{background: #999999;}

#writer input[type=submit]:active,
#writer input[type=checkbox]:active,
#writer label[for="status"]:active{background: #666666;}

#writer textarea{
    width: 100%;
    height: 400px;
    border: 0;
    background: #ffffff;
    color: #000000;
    font-size: 15px;
    margin-bottom:.5em;
}
#writer label{
    background: #555555;
    color: #eeeeee;
}



/*-----Help-----*/
#helppage table td{
    text-align: center;
    font-size: .8em;
}

#helppage table th{
    text-align: center;
    font-size: .8em;
}
#helppage table td ul ,#helppage table td ol{
    text-align: left;
    font-size: .8em;
}

/*-----Settings-----*/
#settingspage h3,#settingspage p{
    display: inline;

}

#settingspage table.inputtable {
    
    margin: 1em 0;
    font-size: 1em;
}

/*-----User View-----*/
#userview .textarea table{
    width:100%;
    font-size: 1.25em;
    border-collapse: collapse;
    border: none;
    padding-left: .5em;
    background:transparent;

}

#userview .textarea table tbody{
    background:transparent;
    border: none;

}
#userview .textarea table td, #userview table th{
    font-size: 1.25em;
    text-align:left;
    border-collapse: collapse;
    border: none;
    padding: 0;
    background:transparent;

}
#userview table th{
    width: 10em;
}


/*-----404-----*/
.huge{
    font-size:250px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.notfound{
    font-size:25px;
    color: #ffffff;
    text-align:center;
}
/*--------------------------------------Classes--------------------------------------*/
/*-----Centered--------*/
.centered{
    display: block;
    text-align: center;
    margin: 0 auto;
}
/*-----Plain Text Area-----*/
.textarea table {
    width:100%;
    font-size: 1.5em;
    border-collapse: collapse;
    border: none;
}

.textarea table tbody, .textarea table tbody:hover{
    background: #dddddd;
}
.textarea{
    font-size: 1.5em;
    margin: 0em 0em;
    padding: 1em;
    background: #d2d2d2;
}
.textarea table th,.textarea table{
    border: 1px solid #000;
    
}

.textarea h3 a:link,.textarea h3 a:visited,.textarea h3 a:hover,.textarea h3 a:focus,.textarea h3 a:active{
    color:#000000;

}

/*-----Input Table-----*/
table.inputtable {

    width:100%;
    font-size: 1.5em;
    border-collapse: collapse;
    border: none;
}
table.inputtable  label, table.inputtable  input[type=text], table.inputtable  select, table.inputtable  input[type=submit], table.inputtable  input[type=password]{
    margin: 0em;
    font-size: 1em;
    border: none;
    padding: 0.25em 0;
    width: 100%;
}

table.inputtable  th{

    background: #555555;
    border: none;
    color: #eeeeee;
    width: 25%;
}
table.inputtable  td{

    background: #ffffff;
    color: #000000;
}

table.inputtable  td, table.inputtable  th{

    margin: 0em;
    padding: 0;
    border-bottom: 1px solid #333333;
}
table.inputtable  td.savebutton{
    text-align: center;
    background: #888888;
    border: 0;
    color: #ffffff;
    width: 100%;

}
table.inputtable  td.savebutton input{
    width: 100%;
    background: transparent;
    color: #ffffff;
    margin: 0em;

}
table.inputtable  td.savebutton:hover{background: #999999;}
table.inputtable  td.savebutton:focus{background: #999999;}
table.inputtable  td.savebutton:active{background: #666666;}

table.inputtable  tbody{

    border: none;
}
table.inputtable  input[type=text], table.inputtable select, table.inputtable input[type=password]{
    background: #ffffff;
    color: #000000;
    vertical-align: bottom;

}
table.inputtable label{
         
    background: transparent;
}

/*-----List Table-----*/
table.listtable {
    width:100%;
    font-size: 1.5em;
    border-collapse: collapse;
    border: none;
    padding-left: .5em;

}

table.listtable a{text-decoration: none;}

table.listtable tbody{
    border-bottom: 1px solid #bbbbbb;
    background: #d2d2d2;
}
table.listtable .even{
    background: #dddddd;
}
table.listtable tbody:hover{
    background: #eeeeee;
}
table.listtable tr{
    
    background:transparent;
}
table.listtable td{
    background:transparent;
    padding-left: .5em;
}
table.listtable strong a:link ,table.listtable strong a:visited {
    color:#000000;
}

table.listtable .postctrl{
    visibility: hidden;
}
table.listtable tbody:hover tr td a img.postctrl{
    visibility: visible;
}

/*-----Alert Table Popup-----*/

.coverpage{
    position: absolute;
    background: #888888;
    background: rgba(30,30,30,.6);
    width:100%;
    height:100%;
    margin-left: -1px;
    margin-top: -1px;
    left: 1px;
    top:1px;
}

table.alerttable{
    font-size: 1.5em;
    border-collapse: collapse;
    border: none;
}  
table.alerttable .alertbuttons input{
    width: 5em;
    font-size: 1em;
    font-weight:        normal;
}    
table.alerttable, table.alerttable:hover{
    position: absolute;
    margin-left: -200px;
    top: 20em;
    left:50%;
    width: 400px;
    box-shadow: 0px 0px 10px #000000;
    background: #d2d2d2;
}
table.alerttable tbody:hover{background: #d2d2d2;}
.alertheader, .alertheader:hover{
    background: #333333;
    font-size: 2em;
    color: #eeeeee;
    padding:  .25em .5em;
    margin: 0;
    border: 0;
}
.alertbody{
    height: 30px;
    font-size: 1.1em;
    padding:  1em 1em;
}
table.alerttable .alertbuttons, table.alerttable .alertbuttons input{
    height: 30px;
}

table.alerttable .alertbuttons a, table.alerttable .alertbuttons input{
    text-align:center;
    
    background: #888888;
    border: 0;
    display:inline;
    color: #ffffff;
    padding: 6px 20px;
    margin:  1em;
}
table.alerttable .alertbuttons a:hover, table.alerttable .alertbuttons input:hover{
    background: #999999;
}

table.alerttable .alertbuttons a:focus, table.alerttable .alertbuttons input:focus{
    background: #999999;
}

table.alerttable .alertbuttons a:active, table.alerttable .alertbuttons input:active{
    background: #666666;
}

/*-----Control Buttons-----*/
ul.controls{
    
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    background: #555555;
    border-top: solid 1px #666666;
    border-bottom: solid 1px #444444;
}
ul.controls li a{text-decoration: none;}
ul.controls li{

    display: inline;
}
ul.controls li a, 
ul.controls li a:link, 
ul.controls li a:active, 
ul.controls li a:hover, 
ul.controls li a:focus, 
ul.controls li a:visited{

    color: #ffffff;
    font-size: 1.5em;
    margin: auto -3px auto 0;
    padding: 10px;
    border-left: solid 1px #666666;
    border-right: solid 1px #444444;
    background: #555555;
    
}
ul.controls li a:hover, 
ul.controls li a:focus{
    background: #666666;

}
ul.controls li a:active{
    background: #444444;
    
}
ul.controls a{

    background: #555555;
}
/*--------------------------------------Layout--------------------------------------*/
body {
    margin: 0 auto;
    padding: 2em;
    min-width:60em;
    max-width: 110em;
}
#content{
    float: right;
    width:80%;
}
#sidebar {
    float: left;
    width: 20%;
 }
 
 footer{
    clear: both;
 }
