h3 a:link,h3 a:visited,h3 a:hover,h3 a:focus,h3 a:active{
    color:#000000;

}

ul#nav , .logout input{
    list-style: none;
    width:100%;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    padding:0;
    padding-right:5em;
    background: #888888;
}

ul#nav li a, .logout input{
    padding:1em 1em 1em 1em;
    margin: 0 0;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    background: #dddddd;
    background: #888888;
    background: transparent;
    color: #ffffff;
}
ul#nav li  a:link,ul#nav  li  a:visited, .logout input{
    color: #ffffff;
}
ul#nav li:hover, .logout input:hover{
    background: #aaaaaa;

}
ul#nav li:focus, .logout input:focus{
    background: #aaaaaa;

}
ul#nav li:active, .logout input:active{
    background: #666666;

}
.logout{

    margin:             -1.5em 0 0 0;
    padding:            0em;
    
}
.logout input{
    text-align:         left;
    font-weight:        normal;
    padding-right:            0em;
}

a{
    
    text-decoration: none;
}

table{
    width:100%;
    font-size: 1.5em;
    border-collapse: collapse;
    border: none;
    padding-left: .5em;

}

tbody{
    border-bottom: 1px solid #bbbbbb;
    background: #d2d2d2;
}
.even{
    background: #dddddd;
}
tbody:hover{
    background: #eeeeee;
}
tr{
    
    background:transparent;
}
td{
    background:transparent;
    padding-left: .5em;
}
strong a:link ,strong a:visited {
    color:#000000;
}

.postctrl{
    visibility: hidden;
}
tbody:hover tr td a img.postctrl{
    visibility: visible;
}
.postctrl:hover{
}

.huge{
    font-size:250px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.notfound{
    font-size:25px;
    color: #ffffff;
    text-align:center;
}
.coverpage{
    position: absolute;
    background: #888888;
    background: rgba(30,30,30,.6);
    width:100%;
    height:100%;
    margin-left: -1px;
    margin-top: -1px;
    left: 1px;
    top:1px;
    
    
    
}
.alertbuttons input{
    width: 5em;
    font-size: 1em;
    font-weight:        normal;
}    
.alerttable, table.alerttable:hover{
    position: absolute;
    margin-left: -200px;
    top: 20em;
    left:50%;
    width: 400px;
    box-shadow: 0px 0px 10px #000000;
    background: #d2d2d2;
}
.alerttable tbody:hover{background: #d2d2d2;}
.alertheader, .alertheader:hover{
    background: #333333;
    font-size: 2em;
    color: #eeeeee;
    padding:  .25em .5em;
    margin: 0;
    border: 0;
}
.alertbody{
    height: 30px;
    font-size: 1.1em;
    padding:  1em 1em;
}
.alertbuttons, .alertbuttons input{
    height: 30px;
}

.alertbuttons a, .alertbuttons input{
    text-align:center;
    
    background: #888888;
    border: 0;
    display:inline;
    color: #ffffff;
    padding: 6px 20px;
    margin:  1em;
}
.alertbuttons a:hover, .alertbuttons input:hover{
    background: #999999;
}

.alertbuttons a:focus, .alertbuttons input:focus{
    background: #999999;
}

.alertbuttons a:active, .alertbuttons input:active{
    background: #666666;
}
.textarea h2{
    margin: 0em 0em;
}
.textarea table tbody, .textarea table tbody:hover{
    background: #dddddd;
}
.textarea{
    font-size: 1.5em;
    margin: 0em 0em;
    padding: 1em;
    background: #d2d2d2;
}
.textarea table th,.textarea table{
    border: 1px solid #000;
    
}
#helppage table td{
    text-align: center;
}

#settingspage table{
    font-size: 1.25em;
    margin: 1em 0em;

}

#settingspage h3,#settingspage p{
    display: inline;

}

#settingspage table td p{
    display: block;
    margin: 0em 0em;

}
#settingspage table th, #settingspage table th label{
    color:#000000;
    background: transparent;
    font-size: 1em;
    width: 10em;
    margin: 0em 0em;

}
#settingspage table td input{
    padding: 0em 0em;
    font-size: 1em;
    padding-left: .5em;

}
#settingspage table td input[type="checkbox"]{
    padding: 0em 0em;
    width:19px;
    height:19px;

}

#settingspage table td{
    background:  #ffffff;

}
#settingspage table th,#settingspage table td{
    border: 1px solid #000;
    padding-left: 0em;
    
}


#content{
    
    overflow:       auto;
}
#sidebar{
    
    color:#000000;
    
}

/*------Layout------*/
#content{
    float: right;
    width:80%;
}
#sidebar {
    float: left;
    width: 20%;
 }
 
 footer{
    clear: both;
 }
