
/*------Blog Nav------*/

ul.supermenu, ul.submenua, ul.submenub{ 
 margin: 0;
 padding: 0;
 list-style: none;
 width: 200px;
 border-bottom: 1px solid #ccc;
 z-index:1;

 }

ul.supermenu li, ul.submenua li, ul.submenub li{
 position: relative;
 }
 
li ul.submenua, li ul.submenub{
 position: absolute;
 display: none;
 }

ul.navsuperhori > li.navmenuitem{
 display: inline-block;
 margin: 0;
 border-bottom: 1px solid #ccc;
}
ul.navsuperhori {
 border-bottom: none;
}
 
li ul.navitemvert{
 left: 198px;
 top: -1px;
}

li ul.navitemhori{
 left: -1px;
 top: 40px;
}
 
li.navmenuitem a{
 text-decoration: none;
}

li.navmenuitem{
 display: block;
 text-decoration: none;
 color: #777;
 background: #fff;
 padding: 5px;
 height: 30px;
 border: 1px solid #ccc;
 border-bottom: 0;
 transition: all 300ms cubic-bezier(0.500, 0.460, 0.450, 0.940);
 }
 
li.navmenuitem:hover{
 
 transform: scale(1);
 background: #ccc;
}
 
ul.supermenu li:hover ul.submenua { 
 display: normal;
 display: block; 
 z-index:2;
}
ul.submenua li:hover ul.submenub {
 display: normal;
 display: block; 
 z-index:2;
 }
