ul{
	list-style: none;
    width:100%;
	font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    padding:0;
    padding-right:5em;
    background: #888888;
}

li{
    padding:1em 1em 1em 1em;
    border-bottom: 1px solid #bbbbbb;
    background: #dddddd;
    background: #888888;
    color: #ffffff;
}
a:link li , a:visited li {
    color: #ffffff;
}
li:hover{
    background: #aaaaaa;

}
li:focus{
    background: #aaaaaa;

}
li:active{
    background: #666666;

}


a{
    
	text-decoration: none;
}

table{
    width:100%;
	font-size: 1.5em;
    border-collapse: collapse;
    border: none;
    padding-left: .5em;

}

tbody{
    border-bottom: 1px solid #bbbbbb;
    background: #d2d2d2;
}
.even{
    background: #dddddd;
}
tbody:hover{
    background: #eeeeee;
}
tr{
    
	background:transparent;
}
td{
	background:transparent;
    padding-left: .5em;
}
strong a:link ,strong a:visited {
    color:#000000;
}

.postctrl{
    visibility: hidden;
}
tbody:hover tr td a img.postctrl{
    visibility: visible;
}
.postctrl:hover{
}

.huge{
    font-size:250px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.notfound{
    font-size:25px;
    color: #ffffff;
    text-align:center;
}
.coverpage{
    position: absolute;
    background: #888888;
    background: rgba(30,30,30,.6);
    width:100%;
    height:100%;
	margin-left: -1px;
	margin-top: -1px;
    left: 1px;
    top:1px;
    
}
.alertbuttons input{
    width: 5em;
    font-size: 1em;
    font-weight:        normal;
}    
.alerttable, table.alerttable:hover{
    position: absolute;
	margin-left: -200px;
	top: 20em;
	left:50%;
    width: 400px;
    box-shadow: 0px 0px 10px #000000;
    background: #d2d2d2;
}
.alerttable tbody:hover{background: #d2d2d2;}
.alertheader, .alertheader:hover{
    background: #333333;
    font-size: 2em;
    color: #eeeeee;
    padding:  .25em .5em;
    margin: 0;
    border: 0;
}
.alertbody{
    height: 30px;
    font-size: 1.1em;
    padding:  1em 1em;
}
.alertbuttons, .alertbuttons input{
    height: 30px;
}

.alertbuttons a, .alertbuttons input{
    text-align:center;
    
    background: #888888;
    border: 0;
    display:inline;
    color: #ffffff;
    padding: 6px 20px;
    margin:  1em;
}
.alertbuttons a:hover, .alertbuttons input:hover{
    background: #999999;
}

.alertbuttons a:focus, .alertbuttons input:focus{
    background: #999999;
}

.alertbuttons a:active, .alertbuttons input:active{
    background: #666666;
}
#content{
}

#sidebar{
    
    color:#000000;
    
}

/*------Layout------*/
#content{
    float: right;
    width:80%;
}
#sidebar {
    float: left;
	width: 20%;
 }
 
 footer{
    clear: both;
 }
