ul{
	list-style: none;
    width:100%;
	font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    padding:0;
    padding-right:5em;
    background: #888888;
}

li{
    padding:1em 1em 1em 1em;
    border-bottom: 1px solid #bbbbbb;
    background: #dddddd;
    background: #888888;
    color: #ffffff;
}
a:link li , a:visited li {
    color: #ffffff;
}
li:hover{
    background: #aaaaaa;

}
li:focus{
    background: #aaaaaa;

}
li:active{
    background: #666666;

}


a{
    
	text-decoration: none;
}

table{
    width:100%;
	font-size: 1.5em;
    border-collapse: collapse;
    border: none;
    padding-left: .5em;

}

tbody{
    border-bottom: 1px solid #bbbbbb;
    background: #d2d2d2;
}
.even{
    background: #dddddd;
}
tbody:hover{
    background: #eeeeee;
}
tr{
	background:transparent;
}
td{
	background:transparent;
    padding-left: .5em;
}
strong a:link ,strong a:visited {
    color:#000000;
}
.postctrl{
    width:4em;
}
#content{
    border-left: 1px solid #bbbbbb;
}

#sidebar{
    
    color:#000000;
    
}

/*------Layout------*/
#content{
    float: right;
    width:89em;
}
#sidebar {
    float: left;
	width: 20em;
 }
 
 footer{
    clear: both;
 }
